*
{
    font-family: 'Lato', sans-serif;
    color: #222d35;
}

body { background-color: #f2f2f2; }
.btn { border-radius: 0px; }

.container-content
{
    background-color: #ffffff;
    padding: 1em;
}

nav.navbar { background-color: #032b50; }

a
{
    color: #0c6cc5;
    text-decoration: none;
}

#logout {
    color: #6DBFFC;
}

.text-muted {
    color: #616970 !important;
}

a:hover
{
    color: #0e78db;
    text-decoration: underline;
}

.linked-question *
{
    color: #0c6cc5;
    text-decoration: none!important
}

.linked-question:hover *
{
    color: #0c6cc5;
    text-decoration: none;
}

h1
{
    border-bottom: 1px solid #bbc2c7;
    padding-bottom: .25em;
}

ol { list-style-type: upper-alpha; }
.breadcrumb { font-weight: 300; }

#signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

/* Quiz view */
.answer0
{
    right: 160px;
    top: 74px;
}

.answer1
{
    right: 130px;
    top: 120px;
}

.answer2
{
    right: 103px;
    top: 166px;
}

.answer3
{
    right: 78px;
    top: 211px;
}

.answer4
{
    right: 50px;
    top: 257px;
}

.answer5
{
    right: 102px;
    top: 257px;
}

.answer6
{
    right: 160px;
    top: 257px;
}

.answer7
{
    right: 214px;
    top: 257px;
}

.answer8
{
    right: 269px;
    top: 257px;
}

.answer9
{
    right: 240px;
    top: 211px;
}

.answer10
{
    right: 215px;
    top: 166px;
}

.answer11
{
    right: 188px;
    top: 120px;
}

.answer12
{
    right: 160px;
    top: 204px;
}

.choicebox
{
    background-image: url(../img/triangle.svg);
    width: 350px;
    height: 350px;
    position: relative;
}

.form-switch {
    /* Overriding for our horizontal layout in quiz & question */
    padding-left: 1em !important;
}

.quiz-container .row
{
    margin: 2rem;
    padding: 1.5rem;
}

.quiz-container .form-check
{
    position: absolute;
    width: 1px;
    height: 1px;
}
.quiz-container .form-check-input:focus
{
    border-color: #ffc106!important;
    box-shadow: 0 0 0 0.25rem rgb(246 209 31);
}

.quiz-container .question-text {
    font-size: 1.15rem;
    font-weight: bold;
    color: red!important;
}

#footer-logo
{
    width: 300px;
}

#id_show_answers_date {
    width: auto;
}

/* DragonDrop css */
.dragondrop-container > li.dragon-inactive {
  box-shadow: 0 0 1px #000;
  border-color: transparent;
}

#questions-header {
    padding-left: 0;
    margin-bottom: 0;
}

#questions-header > li {
  margin: 15px 0 0 0;
  text-align: left;
  list-style: inherit;
  list-style: none;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid black;
}

.list-style-none {
    list-style: none !important;
}

.dragondrop-container {
    padding-left: 0;
}

.dragondrop-container > li {
    padding: 8px 0;
    text-align: left;
    list-style: none !important;
    border-bottom: 1px solid gray;
}

.handle {
  margin-right: 10px;
  border: 0;
  background: #fff;
  border-radius: 2px;
  padding: 5px;
  cursor: grabbing !important;
  background-image: url(../img/icon-sort.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.dragon-active {
  box-shadow: 0 0 8px #000;
}

/**
 * Below are styles for the dragula elements
 */
.gu-mirror {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid;
  text-align: left;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: #fff;
  cursor: -webkit-grabbing;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  list-style: none !important;
}

/* report view */
.percent-container .form-check
{
    position: absolute;
    height: 1px;
}
.percent-container .answer0
{
    right: 160px;
    top: 74px;
}

.percent-container .answer1
{
    right: 130px;
    top: 120px;
}

.percent-container .answer2
{
    right: 103px;
    top: 166px;
}

.percent-container .answer3
{
    right: 78px;
    top: 211px;
}

.percent-container .answer4
{
    right: 40px;
    top: 257px;
}

.percent-container .answer5
{
    right: 107px;
    top: 257px;
}

.percent-container .answer6
{
    right: 165px;
    top: 257px;
}

.percent-container .answer7
{
    right: 222px;
    top: 257px;
}

.percent-container .answer8
{
    right: 280px;
    top: 257px;
}

.percent-container .answer9
{
    right: 240px;
    top: 211px;
}

.percent-container .answer10
{
    right: 215px;
    top: 166px;
}

.percent-container .answer11
{
    right: 188px;
    top: 120px;
}

.percent-container .answer12
{
    right: 160px;
    top: 204px;
}

.ques-text * {
    color: #fff!important
}

#sortable-table th {
    cursor: pointer;
}

.modal-backdrop.show
{
   opacity: 3 !important;
   background-color: #0E78DB;
}

.skippy {
    background-color: $gray-300;
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

.skippy:focus,
.skippy:focus-within {
    position: static!important;
    width: auto!important;
    height: auto!important;
    padding: 0!important;
    margin: -0!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

.skippy a {
    color: $black;
    border-radius: 0.25rem;
    font-weight: 500;
}

#cu-privacy-notice-text {
    color: white;
}
