*
{
    font-family: 'Lato', sans-serif;
    color: #222d35;
}

body { background-color: #f2f2f2; }
.btn { border-radius: 0px; }

.container-content
{
    background-color: #ffffff;
    padding: 1em;
}

nav.navbar { background-color: #032b50; }

a
{
    color: #0e78db;
    text-decoration: none;
}

a:hover
{
    color: #0e78db;
    text-decoration: underline;
}

h1
{
    border-bottom: 1px solid #bbc2c7;
    padding-bottom: .25em;
}

ol { list-style-type: upper-alpha; }
.breadcrumb { font-weight: 300; }
img.sort { cursor: move; }

#signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

/* Quiz view */
.answer0
{
    right: 160px;
    top: 74px;
}

.answer1
{
    right: 130px;
    top: 120px;
}

.answer2
{
    right: 103px;
    top: 166px;
}

.answer3
{
    right: 78px;
    top: 211px;
}

.answer4
{
    right: 50px;
    top: 257px;
}

.answer5
{
    right: 102px;
    top: 257px;
}

.answer6
{
    right: 160px;
    top: 257px;
}

.answer7
{
    right: 214px;
    top: 257px;
}

.answer8
{
    right: 269px;
    top: 257px;
}

.answer9
{
    right: 240px;
    top: 211px;
}

.answer10
{
    right: 215px;
    top: 166px;
}

.answer11
{
    right: 188px;
    top: 120px;
}

.answer12
{
    right: 160px;
    top: 204px;
}

.choicebox
{
    background-image: url(../img/triangle.svg);
    width: 350px;
    height: 350px;
    position: relative;
}

.form-switch {
    /* Overriding for our horizontal layout in quiz & question */
    padding-left: 1em !important;
}

.quiz-container .row
{
    margin: 2rem;
    padding: 2rem;
}

.quiz-container .form-check
{
    position: absolute;
    width: 1px;
    height: 1px;
}

img.sort
{
    cursor: move;
}

#footer-logo
{
    width: 300px;
}

textarea.assignment-url {
    height: .875em;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    min-height: calc(1.2em + .75rem + 2px);
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
}
