<div class="container-fluid container-content">
<!-- My Quizzes -->
    <h1>
        My Quizzes
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course-list-view' %}">My Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Quizzes</li>
        </ol>
    </nav>
    <div class="table-responsive">
        <a href="{% url 'create-quiz' course.id %}" class="btn btn-sm btn-primary">Create Quiz</a>
        <table class="table table-striped">
            <col width="20%"> <col width="20%"> <col width="8%"><col width="20%"><col width="20%">
            <thead>
                <tr>
                    <th scope="col">Quiz Title</th>
                    <th scope="col">Quiz Description</th>
                    <th scope="col">Submissions</th>
                    <th scope="col">Assignment Url (?)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in course.quiz_set.all %}
                <tr>
                    <th scope="row"><p class="fw-normal">{{quiz.title}}</p></th>
                    {% if quiz.description %}
                        <td>{{quiz.description}}</td>
                    {% else %}
                        <td>No description for this quiz.</td>
                    {% endif %}
                    <td><p class="fw-normal text-center">{{quiz.quizsubmission_set.count}}</p></td>
                    <td class="text-muted">
                        <div class="input-group mb-3">
                            <button class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2"
                                aria-label="Copy to clipboard"
                                onclick="copyToClipboard('quiz-{{quiz.id}}')"
                                >
                                <span id="quiz-{{quiz.id}}-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                      <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                      <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                                </span>
                                Copy Courseworks Assignment Link
                            </button>
                            <textarea id="quiz-{{quiz.id}}" style="position:absolute;left:-10000px;top:-10000px;"
                                aria-label="Courseworks assignment url"
                                aria-hidden="true">https://{{request.get_host}}{% url 'lti-assignment-view' 'quiz' quiz.id %}</textarea>
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'update-quiz' quiz.id %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'quiz-detail' quiz.id %}" target="_blank" class="btn btn-sm btn-success">Preview</a>
                        <a href="#" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#cloneModal-{{quiz.id}}">Clone</a>
                        <a href="{% url 'report-quiz' quiz.id %}" class="btn btn-sm btn-dark">Analytics</a>
                        <!-- Modal -->
                        <div class="modal fade" id="cloneModal-{{quiz.id}}" tabindex="-1" aria-labelledby="clone modal for quiz {{quiz.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Clone Quiz
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure that you want to clone this quiz?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST" action="{% url 'clone-quiz' quiz.id %}">
                                        {% csrf_token %}
                                        <input class="btn btn-primary" type="submit" value="Clone Quiz">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
