{% extends "base.html" %}

{% block title %}Sign In | QuizCon{% endblock %}
{% block topnavbar %}
{% endblock %}
{% block css %}
<style>
    html,body {
        height: 100%;
    }

    body, .container
    {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #032b50;
        justify-content: center;
    }

    h1 {
        color: #0E78DB;
    }
</style>
{% endblock %}
{% block content %}
<body id="splash" class="text-center">
    <div id="signin">
        <h1 class="logo display-1" style="border: 0; font-weight: 700;">
            QuizCon
        </h1>
        <p class="lead text-light">
            Built for creating confident choices<br />
            for testing in CourseWorks.
        </p>
        {% if CAS_BASE %}

            <form class="text-center" method="get" action="{{CAS_BASE}}cas/login">

                    <input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />
                    <div style="margin: 2em 0 2em 0;">
                    <button class="btn btn-lg btn-light" id="cy-login" data-cy="columbia-login" type="submit">
                        Sign In With Columbia UNI
                    </button>
                    <input type="hidden" name="next" value="{{ next|urlencode }}" />
                </div>
            </form>
        {% endif %}
        {% if debug %}
            {% if form.errors %}
                <div class="alert alert-danger" id="guest-login-error" role="alert">
                    <div><b>Invalid username or password</b></div>
                </div>
            {% endif %}

            <p>If you have a guest account</p>
            <form class="text-center" name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input id="id_username" maxlength="254"
                               name="username" type="text"
                               class="form-control" autofocus>
                    </div>

                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input id="id_password" name="password" type="password" class="form-control">
                    </div>
                </div>
                <input id="guest-login" class="btn btn-primary" type="button" value="Guest Log In" {% if form.errors %}style="display: none"{% endif %}
                    onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
                <input id="guest-login-submit" class="btn btn-primary login-local-form" type="submit" value="Log In" {% if not form.errors %}style="display: none;"{% endif %} />
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
            </form>
        {% endif %}
    </div>
</body>
{% endblock %}
{% block footer %}
{% endblock %}
