{% extends "base.html" %}
{% load quiz_tools %}

{% block title %}{{quiz.title|truncatewords:3}}{% endblock %}

{% load coursetags static %}
{% block topnavbar %}
{% if is_faculty %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ request.scheme }}://{{ request.get_host }}{% url 'course-detail-view' quiz.course.pk %}" target="_blank" rel="noopener noreferrer"><strong><span class="text-light">QuizCon</span></strong></a>
            <div class="collapse navbar-collapse" id="nabarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'update-quiz' quiz.id %}" target="_blank" rel="noopener noreferrer">Edit Quiz</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong><span class="text-light">QuizCon</span></strong></a>
        </div>
    </nav>
{% endif %}
{% endblock %}
{% block content %}
<div class="quiz-container container-fluid">
    {% if is_faculty %}
        <div class="alert alert-warning" role="alert">
            This is a preview of what your students will see. <br>
            {% if quiz.randomize %} Questions are randomized.<br>{% endif %}
            Question answers are always randomized.<br>
            Students will be able to see their answers: <strong>{{quiz.show_answers_verbose}} </strong> {% if quiz.show_answers == 2 %}{{quiz.show_answers_date}}{% endif %}
        </div>
        <h1>
            {{quiz.title}}
        </h1>

        <p class="lead">{{quiz.description}}</p>
        <!-- <div class="alert alert-danger" role="alert">
            <strong>00:00:00</strong> remaining to complete quiz.
        </div> -->
        {% for question in quiz.question_set.all %}
            {% with markers=question.random_markers %}
            <form>
                <div class="row bg-light">
                    <div class="col-md-6">
                        <p>
                            <strong>{{question.text}}</strong>
                        </p>
                        <ol>
                            {% for marker in markers %}
                            <li class="border-top p-2">{{marker.label}}</li>
                            {% endfor %}
                            <li class="border-top p-2">I don't know.</li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <div class="choicebox float-end">
                            {% for x in num_markers %}
                            <div class="form-check answer{{x}}">
                                <input class="form-check-input" type="radio" name="radiodefault" value="{{x}}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
            {% endwith %}
        {% endfor %}
    {% else %}{% if is_student %}
        <h1>
            {{quiz.title}}
        </h1>
        <p class="lead">{{quiz.description}}</p>
        {% if submission %}
        <!-- Submitted Interface -->
            <!-- if show Immediately -->
            {% if quiz.show_answers == 1 %}
                <div class="alert alert-success" role="alert">
                    <strong>You're Done!</strong> Your score is <strong>{{submission.user_points}} out of {{submission.quiz.total_points}}</strong> ({{submission.user_score_percent}}%) points.
                    Review your answers below.
                </div>
            <!-- if later date  -->
            {% elif quiz.show_answers == 2 %}
                <div class="alert alert-success" role="alert">
                    <strong>You're Done!</strong> Your score is <strong>{{submission.user_points}} out of {{submission.quiz.total_points}}</strong> ({{submission.user_score_percent}}%) points.
                    The correct answers will be available for review on {{quiz.show_answers_date}}.
                </div>
            <!-- if never -->
            {% else %}
                <div class="alert alert-success" role="alert">
                    <<strong>You're Done!</strong> Your score is <strong>{{submission.user_points}} out of {{submission.quiz.total_points}}</strong> ({{submission.user_score_percent}}%) points.
                </div>
            {% endif %}

            {% for question in quiz.question_set.all %}
                {% question_response question submission as response %}
                <div class="row bg-light">
                    <div class="col-md-6">
                        <p>
                            {% with qp=response.user_question_points %}
                                {% if quiz.show_answers == 1 or quiz.show_answers == 2 and quiz.show_answers_date <= today %}
                                    {% if quiz.scoring_scheme == 0 %}
                                        <span class="badge bg-{% if qp == 5 %}success{% elif qp == 4 or qp == 3 or qp == 1 %}warning{% elif qp == 0 %}danger{% else %}secondary{% endif %}">
                                            {{qp}} points
                                        </span>
                                    {% elif quiz.scoring_scheme == 1 %}
                                        <span class="badge bg-{% if qp == 3 %}success{% elif qp == 2 or qp == 1 %}warning{% elif qp == -1 or qp == -2%}danger{% else %}secondary{% endif %}">
                                            {{qp}} points
                                        </span>
                                    {% elif quiz.scoring_scheme == 2 %}
                                        <span class="badge bg-{% if qp == 3 %}success{% elif qp == 2 or qp == 1 %}warning{% elif qp == -1 or qp == -5%}danger{% else %}secondary{% endif %}">
                                            {{qp}} points
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            <strong>{{question.text}}</strong>
                        </p>
                        <ol>
                            {% for marker in response.questionresponsemarker_set.all %}
                                <li class="border-top p-2">
                                    <!-- Only if show answer is Immediately or at a later date -->
                                    {% if quiz.show_answers == 1 or quiz.show_answers == 2 and quiz.show_answers_date <= today %}
                                        {% if marker.marker.correct %}
                                            <span class="badge rounded-pill bg-success">Correct</span>
                                        {% endif %}
                                    {% endif %}
                                    {{marker.marker.label}}
                                </li>
                            {% endfor %}
                            <li class="border-top p-2">I don't know.</li>
                        </ol>
                        <div>
                            <!-- Only if show answer is Immediately or at a later date -->
                            {% if quiz.show_answers == 1 or quiz.show_answers == 2 and quiz.show_answers_date <= today %}
                                {{question.explanation}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="choicebox float-end">
                            {% for x in num_markers %}
                            <div class="form-check answer{{x}}">
                                <input disabled="disabled" class="form-check-input" type="radio"
                                    name="{{question.pk}}" value="{{x}}"
                                    {% if x == response.selected_position %}checked{% endif %}/>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <!-- Quiz Response Interface -->
            <div class="alert alert-danger" role="alert">
                <strong>00:00:00</strong> remaining to complete quiz.
            </div>
            <form action="." method="post">
                {% for question in quiz.question_set.all %}
                    {% with markers=question.random_markers %}
                    <div class="row bg-light">
                        <div class="col-md-6">
                            <p>
                                <strong>{{question.text}}</strong>
                            </p>
                            <ol>
                                {% for marker in markers %}
                                    <li class="border-top p-2">{{marker.label}}</li>
                                {% endfor %}
                                <li class="border-top p-2">I don't know.</li>
                            </ol>
                            <input type="hidden" name="question-{{question.pk}}-markers"
                                value="[{% for marker in markers %}{{marker.pk}}{% if not forloop.last %},{% endif %}{% endfor %}]" />
                        </div>
                        <div class="col-md-6">
                            <div class="choicebox float-end">
                                {% for x in num_markers %}
                                <div class="form-check answer{{x}}">
                                    <input class="form-check-input" type="radio" name="{{question.pk}}" value="{{x}}" />
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
                <input class="btn btn-primary" type="submit" {% if submission %}disabled="disabled" value="submitted"{% else %}value="Submit Answers" {% endif %} />
            </form>
        {% endif %}
    {% endif %}{% endif %}
</div>
{% endblock %}
