{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Question{% endblock %}

{% block pagetitle %}
    Edit Question
{% endblock %}

{% block js %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        tinymce.init({selector: '.rich-text', statusbar: false, menubar: false,
                    content_style: 'body {font-size: 11pt!important}'});
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid container-content">
<!-- Edit Question -->
    <h1>
        Edit Question
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course-list-view' %}">My Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course-detail-view' question.quiz.course.pk %}">My Quizzes</a></li>
            <li class="breadcrumb-item"><a href="{% url 'update-quiz' question.quiz.pk %}">{{question.quiz.title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Question {{object.pk}}</li>
        </ol>
    </nav>
    <form action="." method="post">{% csrf_token %}
        {% if form.errors|length %}
            <div class="alert alert-danger">
                Please correct errors before continuing.
            </div>
        {% endif %}
        <div class="row mb-3">
            <label for="text" class="col-sm-2 col-form-label">Question</label>
            <div class="col-sm-10">
                {% bootstrap_field form.text show_label=False %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="student feedback" class="col-sm-2 col-form-label">Student Feedback</label>
            <div class="col-sm-10">
                {% autoescape off %}
                    {% bootstrap_field form.explanation show_label=False %}
                {% endautoescape %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="form-group {% if form.correct.errors %}is-invalid{% endif %}">
                    <label class="col-form-label">Choices</label>
                    {% if form.correct.errors %}
                        <div class="invalid-feedback d-block">Please mark one choice correct</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-3 g-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 bg-light p-3 rounded">
                <input class="form-check-input" type="radio" name="correct" id="answer-label-one" value="1"
                    {% if form.initial.correct == 1 or form.data.correct == '1' %}checked{% endif %}>
                <label class="form-check-label" for="answer-label-one"> Correct </label>
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.answer_label_1 show_label=False %}
            </div>
        </div>
        <div class="row mb-3 mt-2 g-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 bg-light p-3 rounded">
                <input class="form-check-input" type="radio" name="correct" id="answer-label-two" value="2"
                    {% if form.initial.correct == 2 or form.data.correct == '2' %}checked{% endif %}>
                <label class="form-check-label" for="answer-label-two"> Correct </label>
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.answer_label_2 show_label=False %}
            </div>
        </div>
        <div class="row mb-3 mt-2 g-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 bg-light p-3 rounded">
                <input class="form-check-input" type="radio" name="correct" id="answer-label-three" value="3"
                    {% if form.initial.correct == 3 or form.data.correct == '3' %}checked{% endif %}>
                <label class="form-check-label" for="answer-label-three"> Correct </label>
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.answer_label_3 show_label=False %}
            </div>
        </div>
        <input type="hidden" name="quiz" value="{{question.quiz.pk}}" />
        <button type="submit" class="btn btn-block btn-primary">Save</button> <a href="{% url 'update-quiz' object.quiz.id %}" class="btn btn-secondary">Cancel</a><a href="#" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Question</a>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Delete
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to permanently delete this question?
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'delete-question' question.id %}">
                {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
