{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Delete Question{% endblock %}

{% block pagetitle %}
    Delete Question
{% endblock %}

{% block content %}
    <form action="." method="post">{% csrf_token %}
        <div>
            Are you sure you want to delete the <span class="font-weight-bold">{{object.title}}</span> question?
        </div>
        <div class="row">
            <div class="col-md-2 mb-1 pr-0">
                <button type="submit" class="btn btn-block btn-primary">Delete</button>
            </div>
            <!-- <div class="col-md-2 mb-1 pr-0">
                <a class="btn btn-block btn-secondary" href="{% url 'course-detail-view' course.pk %}">Cancel</a>
            </div> -->
        </div>
    </form>
{% endblock %}
