{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Create Question{% endblock %}

{% block pagetitle %}
    Create Question
{% endblock %}

{% block js %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        tinymce.init({  selector: '.rich-text',
                        statusbar: false, menubar: false,
                        content_style: 'body {font-size: 11pt!important}',
                        forced_root_block : 'false',
                        plugins: 'link',
                        toolbar: 'undo redo | fontsizeselect | removeformat | bold italic underline strikethrough superscript subscript | link',
                        default_link_target: '_blank',
                        fontsize_formats: '8pt 10pt 12pt 14pt 18pt',
                        a11y_advanced_options: true
                    });
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid container-content" id="maincontent">
<!-- Create Question -->
    <h1>
        Create Question
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course-list-view' %}">My Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course-detail-view' quiz.course.pk %}">My Quizzes</a></li>
            <li class="breadcrumb-item"><a href="{% url 'update-quiz' quiz.pk %}">{{quiz.title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Question {{object.pk}}</li>
        </ol>
    </nav>
    <form action="." method="post">{% csrf_token %}
        {% if form.errors|length %}
            <div class="alert alert-danger">
                Please correct errors before continuing.
            </div>
        {% endif %}
        <div class="row mb-3">
            <label for="id_text" class="col-sm-2 col-form-label">Question</label>
            <div class="col-sm-10" data-cy="question-text">
                <span class="text-muted small">
                    <a href="https://www.tiny.cloud/docs/advanced/accessibility/" target="_blank" rel="noopener noreferrer">
                        Accessibility for text editor
                    </a>
                </span>
                {% bootstrap_field form.text show_label=False %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="student-feedback" class="col-sm-2 col-form-label">Student Feedback</label>
            <div class="col-sm-10" data-cy="student-feedback">
                <span class="text-muted small">
                    <a href="https://www.tiny.cloud/docs/advanced/accessibility/" target="_blank" rel="noopener noreferrer">
                        Accessibility for text editor
                    </a>
                </span>
                {% bootstrap_field form.explanation %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="form-group {% if form.correct.errors %}is-invalid{% endif %}">
                    <label class="col-form-label">Choices</label>
                    {% if form.correct.errors %}
                        <div class="invalid-feedback d-block">Please mark one choice correct</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-3 g-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 bg-light p-3 rounded">
                <input class="form-check-input" type="radio" name="correct" id="answer-label-one" value="1"
                    {% if form.initial.correct == 1 or form.data.correct == '1' %}checked{% endif %}>
                <label class="form-check-label" for="answer-label-one"> Correct </label>
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.answer_label_1 show_label=False %}
            </div>
        </div>
        <div class="row mb-3 mt-2 g-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 bg-light p-3 rounded">
                <input class="form-check-input" type="radio" name="correct" id="answer-label-two" value="2"
                    {% if form.initial.correct == 2 or form.data.correct == '2' %}checked{% endif %}>
                <label class="form-check-label" for="answer-label-two"> Correct </label>
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.answer_label_2 show_label=False %}
            </div>
        </div>
        <div class="row mb-3 mt-2 g-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 bg-light p-3 rounded">
                <input class="form-check-input" type="radio" name="correct" id="answer-label-three" value="3"
                    {% if form.initial.correct == 3 or form.data.correct == '3' %}checked{% endif %}>
                <label class="form-check-label" for="answer-label-three"> Correct </label>
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.answer_label_3 show_label=False %}
            </div>
        </div>
        <input type="hidden" name="quiz" value="{{quiz.pk}}" />
        <button type="submit" class="btn btn-block btn-primary me-2">Save</button>
        <a href="{% url 'update-quiz' quiz.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
