{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{% if object %}Edit {% else %}New {% endif %} Question{% endblock %}

{% block pagetitle %}
    {% if object %}Edit {% else %}New {% endif %} Question
{% endblock %}

{% block content %}
<div id="edit-detail-container" class="row">
    <div class="col-md-12 order-md-1">
        <form action="." method="post" v-on:submit="onSubmit">{% csrf_token %}

            {% bootstrap_field form.description %}
            {% bootstrap_field form.text %}
            {% bootstrap_field form.explanation %}
            {% bootstrap_field form.ordinality %}
            <input type="hidden" name="quiz" value="{{quiz.pk}}" />
            <div class="row">
                <div class="col-md-2 mb-1 pr-0">
                    <button type="submit" class="btn btn-block btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
