{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Quiz{% endblock %}
{% block js %}
<script
     data-main="{{STATIC_URL}}js/src/main.js"
     src="{{STATIC_URL}}js/lib/require/require.js"></script>

<script type="text/javascript">
    jQuery("#id_show_answers_2").on("click", function() {
        jQuery("#id_show_answers_date").attr("disabled", false)
    });
    jQuery("#id_show_answers_1").on("click", function() {
        jQuery("#id_show_answers_date").attr("disabled", true)
    });
    jQuery("#id_show_answers_0").on("click", function() {
        jQuery("#id_show_answers_date").attr("disabled", true)
    });
</script>
{% endblock %}

{% block extrahead %}
    <meta name="csrf-token" content="{{csrf_token}}">
    <meta name="reorder-url" content="{% url 'reorder-questions' quiz.id %}">
{% endblock %}

{% block content %}
<div class="container-fluid container-content">
<!-- Edit Quiz -->
    <h1>
        Edit Quiz
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course-list-view' %}">My Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course-detail-view' quiz.course.pk%}">My Quizzes</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{quiz.title}}</li>
        </ol>
    </nav>
    <form action="." method="post">{% csrf_token %}
        {% if form.errors|length %}
            <div class="alert alert-danger">
              <strong>Please correct errors before continuing</strong><br /><br />
              {% if form.non_field_errors %}
                <div>{{ form.non_field_errors}}</div>
              {% endif %}
            </div>
        {% endif %}

        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                {% bootstrap_field form.title show_label=False %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {% bootstrap_field form.description show_label=False %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="options" class="col-sm-2 col-form-label">Due Date</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="due" placeholder="MM.DD.YYYY" size="10" maxlength="10">
            </div>
        </div>
        <div class="row mb-3">
            <label for="scoring_scheme" class="col-sm-2 col-form-label">Consequence</label>
            <div class="col-sm-10">
                {% bootstrap_field form.scoring_scheme show_label=False %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="options" class="col-sm-2 col-form-label">Time</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="attempts" placeholder="HH:MM:SS" size="8" maxlength="8">
            </div>
        </div>
        <div class="row mb-3">
            <label for="multiple_attempts" class="col-sm-2 col-form-label">Number of Attempts</label>
            <div class="col-sm-1">
                {% bootstrap_field form.multiple_attempts show_label=False %}
            </div>
        </div>
        <div class="row mb-3">
        <label for="options" class="col-sm-2 col-form-label">Show Students Correct Answers for Each Question</label>
            <div class="col-sm-10">
                <div>
                    {% bootstrap_field form.show_answers show_label=False show_help=False %}
                    {% bootstrap_field form.show_answers_date show_label=False %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="options" class="col-sm-2 col-form-label">Additional Settings</label>
            <div class="col-sm-10">
                <div class="form-check form-switch">
                    {% bootstrap_field form.randomize show_help=False %}
                </div>
            </div>
        </div>

        <hr />
        <h2 id="questions-container">Questions</h2>
        <div class="row">
            <div class="col">
                <a href="{% url 'create-question' quiz.id %}" class="btn btn-sm btn-primary">Create Question</a>
                <a href="{% url 'quiz-detail' quiz.id %}" target="_blank" class="btn btn-sm btn-success">View Quiz</a>
            </div>
        </div>
        <ol id="questions-header" aria-labelledby="questions-container">
            <li>
                <div class="row d-inline-flex w-100 ml-2">
                    <div class="col-sm-1">
                        Sort
                    </div>
                    <div class="col-sm-4">
                        Question
                    </div>
                    <div class="col-sm-5">
                        Answers
                    </div>
                    <div class="col-sm-2">
                        Action
                    </div>
                </div>
            </li>
        </ol>
        <ol class="dragondrop-container" id="dragondrop-container" aria-labelledby="questions-header">
            {% for question in quiz.ordered_questions %}
                <li class="list-style-none" data-id="{{question.id}}">
                    <div class="row d-inline-flex w-100 ml-2">
                        <div class="col-sm-1">
                            <button aria-describedby="global-help" type="button" class="handle"
                                aria-labelledby="question-{{question.id}}" tabindex="0">
                                <div class="offscreen">Reorder</div>
                            </button>
                            <span class="sr-only">{{question.text}}</span>
                        </div>
                        <div class="col-sm-4">
                            {{question.ordinality}}{{question.text}}
                        </div>
                        <div class="col-sm-5">
                            {% for marker in question.marker_set.all %}
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                    {{marker.label}}
                                    {% if marker.correct %}<span class="badge rounded-pill bg-secondary">Correct</span>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-2">
                            <a href="{% url 'update-question' question.id %}" class="btn btn-sm btn-warning">Edit Question</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <input type="hidden" name="course" value="{{course.pk}}" />
        <button type="submit" class="btn btn-primary">Save Quiz</button>
        <a class="btn btn-secondary" href="{% url 'course-detail-view' course.pk %}">Cancel</a>
        <a href="#" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Quiz</a>
        <div class="clearfix"></div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Delete
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to permanently delete this quiz?
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'delete-quiz' quiz.id %}">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
