{% extends 'base.html' %}
{% load quiz_tools %}

{% block title %}
Report for {{ quiz.title }}
{% endblock %}

{% block js %}
<script type="text/javascript">
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("sortable-table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if ((Number(x.innerHTML)) > (Number(y.innerHTML))) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if ((Number(x.innerHTML)) < (Number(y.innerHTML))) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>
{% endblock %}

{% block content %}
    {% if submissions %}
        <div class="container-fluid container-content">
            <h1>
            Analytics for <strong>{{ quiz.title }}</strong>
            </h1>
            <p>
            Scoring Scheme: <strong class="text-success">{{quiz.scoring_scheme_verbose}}</strong> <span class="text-muted">&bull;</span> Student Answer View: <strong class="text-success">{{quiz.show_answers_verbose|lower}}</strong>
            </p>
            <ul class="nav nav-tabs nav-fill mb-4">
                <li class="nav-item"> <a class="nav-link" href="#statistics">Quiz Statistics</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#insights">Insights</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#percentages">Answer Percentages</a> </li>
            </ul>
            <section style="margin: 4em 0em 4em 0em;">
                <a name="statistics" id="statistics"></a>
                <h2 class="mt-4">
                Quiz Statistics
                </h2>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Mean
                            </div>
                            <div class="card-body">
                                {% submission_mean submissions as mean %}
                                <h3 class="card-title display-5">
                                {{mean}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Median
                            </div>
                            <div class="card-body">
                                {% submission_median submissions as median %}
                                <h3 class="card-title display-5">
                                {{median}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Mode
                            </div>
                            <div class="card-body">
                                {% submission_mode submissions as mode %}
                                <h3 class="card-title display-5">
                                {{mode}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Standard Deviation
                            </div>
                            <div class="card-body">
                                {% submission_standard_dev submissions as stdev %}
                                <h3 class="card-title display-5">
                                {{stdev}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Total Questions
                            </div>
                            <div class="card-body">
                                <h3 class="card-title display-5">
                                {{quiz.question_set.count}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Quiz Submissions
                            </div>
                            <div class="card-body">
                                <h3 class="card-title display-5">
                                {{total_submissions}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Minimum Points Earned
                            </div>
                            <div class="card-body">
                                {% submission_min_points submissions as min %}
                                <h3 class="card-title display-5">
                                {{min}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white">
                            Maximum Points Earned
                            </div>
                            <div class="card-body">
                                {% submission_max_points submissions as max %}
                                <h3 class="card-title display-5">
                                {{max}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section style="margin: 4em 0em 4em 0em;">
                <a name="insights" id="insights"></a>
                <h2 class="mt-4">
                Insights
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <col width="25%"> <col width="8%"> <col width="8%"><col width="8%">
                        <thead>
                            <tr>
                                <th scope="col">Question</th>
                                <th onclick="sortTable(0)" scope="col"># of Correct Answers</th>
                                <th onclick="sortTable(1)" scope="col"># of Incorrect Answers</th>
                                <th onclick="sortTable(2)" scope="col"># of IDK Answers</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in quiz.question_set.all %}
                                {% total_right_answers question as total_right %}
                                {% total_wrong_answers question as total_wrong %}
                                {% total_idk_answers question as toal_idk %}
                            <tr>
                                <th scope="row">{{question.text|safe}}</th>
                                <td class="text-center">{{total_right}}</td>
                                <td class="text-center">{{total_wrong}}</td>
                                <td class="text-center">{{toal_idk}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section style="margin: 4em 0em 4em 0em;">
                <a name="percentages" id="percentages"></a>
                <h2 class="mt-4">
                Answer Percentages
                </h2>
                {% for question in quiz.question_set.all %}
                    <div class="card bg-light mt-4">
                        <div class="card-header bg-dark ques-text">
                        <a name="q{{question.pk}}">{{question.text|safe}}</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{STATIC_URL}}img/triangle-key.svg" class="rounded" alt="key">
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="list-group">
                                                {% percentage_choice 0 question as percent %}
                                                {% radio_points quiz.id 0 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-light" style="background-color: rgb(4, 43, 80);">{{percent}}%
                                                    <span class="badge bg-light  text-dark">A</span>
                                                    <span class="badge bg-success text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 1 question as percent %}
                                                {% radio_points quiz.id 1 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-light" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">AAB</span>
                                                    <span class="badge bg-success text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 2 question as percent %}
                                                {% radio_points quiz.id 2 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">AB</span>
                                                    <span class="badge bg-success text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 3 question as percent %}
                                                {% radio_points quiz.id 3 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">ABB</span>
                                                    <span class="badge bg-success text-light">{{pts}} point</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-group">
                                                {% percentage_choice 4 question as percent %}
                                                {% radio_points quiz.id 4 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(4, 43, 80);">{{percent}}%
                                                    <span class="badge bg-light  text-dark">B</span>
                                                    <span class="badge bg-secondary text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 5 question as percent %}
                                                {% radio_points quiz.id 5 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">BBC</span>
                                                    <span class="badge bg-secondary text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 6 question as percent %}
                                                {% radio_points quiz.id 6 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">BC</span>
                                                    <span class="badge bg-secondary text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 7 question as percent %}
                                                {% radio_points quiz.id 7 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">BCC</span>
                                                    <span class="badge bg-secondary text-light">{{pts}} points</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-group">
                                                {% percentage_choice 8 question as percent %}
                                                {% radio_points quiz.id 8 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(4, 43, 80);">{{percent}}%
                                                    <span class="badge bg-light  text-dark">C</span>
                                                    <span class="badge bg-secondary text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 9 question as percent %}
                                                {% radio_points quiz.id 9 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">CCA</span>
                                                    <span class="badge bg-success text-light">{{pts}} point</span>
                                                </li>
                                                {% percentage_choice 10 question as percent %}
                                                {% radio_points quiz.id 10 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">CA</span>
                                                    <span class="badge bg-success text-light">{{pts}} points</span>
                                                </li>
                                                {% percentage_choice 11 question as percent %}
                                                {% radio_points quiz.id 11 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-light" style="background-color: rgb(15, 121, 220);">{{percent}}%
                                                    <span class="badge bg-dark  text-light">CAA</span>
                                                    <span class="badge bg-success text-light">{{pts}} points</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-group">
                                                {% percentage_choice 12 question as percent %}
                                                {% radio_points quiz.id 12 as pts %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center text-info" style="background-color: rgb(4, 43, 80);">{{percent}}%
                                                    <span class="badge bg-light  text-dark">D</span>
                                                    <span class="badge bg-success text-light">{{pts}} points</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header bg-success text-white">
                                                    <span class="badge bg-light text-dark">A</span> Correct
                                                </div>
                                                <div class="card-body">
                                                {{question.correct_answer_label}}
                                                </div>
                                            </div>
                                        </div>
                                        {% answers_pos question as answer_pos %}
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header bg-danger text-white">
                                                    <span class="badge bg-light text-dark">B</span> Incorrect
                                                </div>
                                                <div class="card-body">
                                                {{answer_pos.1}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header bg-danger text-white">
                                                    <span class="badge bg-light text-dark">C</span> Incorrect
                                                </div>
                                                <div class="card-body">
                                                {{answer_pos.2}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    {% else %}
        <p>No submissions for this quiz yet.</p>
    {% endif %}
{% endblock %}
