{% extends 'base.html' %}

{% block title %}
{{ quiz.title }} Preview
{% endblock %}

{% block content %}
<div class="quiz-container container-fluid" id="maincontent">
    <div class="alert alert-warning" role="alert">
        <button onclick="javascript:window.close('','_parent','');" class="btn btn-warning btn-sm float-end">Close Preview</button>
        <h4>This is a preview of what your students will see. <br></h4>
        <!-- {% if quiz.randomize %} Questions are randomized.<br>{% endif %} -->
        <ul>
            <li>Question answers are always randomized.<br></li>
            {% if quiz.time %}
            <li>Students have <strong>{{quiz.time}} minutes</strong> to complete the quiz.<br></li>
            {% endif %}
            <li>Students will be able to see their answers: <strong>{{quiz.show_answers_verbose|lower}} </strong> {% if quiz.show_answers == 2 %}{{quiz.show_answers_date}}{% endif %}</li>
        </ul>
    </div>
    <h1 class="mt-2">
        {{quiz.title}}
    </h1>
    {% if quiz.description %}
        <p class="lead text-muted">{{quiz.description}}</p>
    {% endif %}
    <!-- <div class="alert alert-danger" role="alert">
        <strong>00:00:00</strong> remaining to complete quiz.
    </div> -->
    {% for question in quiz.ordered_questions %}
        {% with markers=question.random_markers %}
        <form>
            <div class="row bg-light mx-0">
                <div class="col-md-12">
                    <p class="question-text">
                        {{question.text|safe}}
                    </p>
                    <div class="row mx-0 p-0">
                        <div class="col-md-5 p-0">
                            <ol class="p-3 pt-0">
                                {% for marker in markers %}
                                <li class="border-top p-2">{{marker.label}}</li>
                                {% endfor %}
                                <li class="border-top p-2">I don't know.</li>
                            </ol>
                        </div>
                        <div class="col-md-7">
                            <div class="choicebox float-end" role="radiogroup" aria-labelledby="marker choices for this question">
                                {% for x in num_markers %}
                                {% aria_label x as label %}
                                <div class="form-check answer{{x}}">
                                <label class="visually-hidden" for="{{question.pk}}-{{x}}">{{label}}</label>
                                    <input id="{{question.pk}}-{{x}}" class="form-check-input" type="radio" name="{{question.pk}}" value="{{x}}" />
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}
