{% extends 'base.html' %}
{% load bootstrap4 %}
{% load waffle_tags %}
{% block title %}Create Quiz{% endblock %}

{% block js %}
<script type="text/javascript">
    jQuery("#id_show_answers_2").on("click", function() {
        jQuery("#id_show_answers_date").attr("disabled", false)
    });
    jQuery("#id_show_answers_1").on("click", function() {
        jQuery("#id_show_answers_date").attr("disabled", true)
    });
    jQuery("#id_show_answers_0").on("click", function() {
        jQuery("#id_show_answers_date").attr("disabled", true)
    });
    jQuery("#timerSwitch").on("click", function() {
        if(jQuery("#timerSwitch").is(":checked")){
            jQuery("#id_time").attr("disabled", false)
        } else {
            jQuery("#id_time").attr("disabled", true)
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid container-content" id="maincontent">
<!-- Create Quiz -->
    <h1 data-cy="create-quiz-form">
        Create Quiz
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course-list-view' %}">My Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course-detail-view' course.pk%}">My Quizzes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quiz</li>
        </ol>
    </nav>

    <form action="." method="post">{% csrf_token %}
        {% if form.errors|length %}
            <div class="alert alert-danger">
              <strong>Please correct errors before continuing</strong><br /><br />
              {% if form.non_field_errors %}
                <div>{{ form.non_field_errors}}</div>
              {% endif %}
            </div>
        {% endif %}

        <div class="row mb-3">
            <label for="id_title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                {% bootstrap_field form.title %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {% bootstrap_field form.description %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_scoring_scheme" class="col-sm-2 col-form-label">Consequence</label>
            <div class="col-sm-10">
                {% bootstrap_field form.scoring_scheme %}
            </div>
        </div>
        {% flag "timer" %}
        <div class="row mb-3">
            <label for="id_time" class="col-sm-2 col-form-label">Time <span class="text-muted">(minutes)</span></label>
            <div class="col-sm-2 form-switch mt-1">
                <label for="timerSwitch"> Use Timer</label>
                <input class="form-check-input ms-1" type="checkbox" id="timerSwitch">
                {% bootstrap_field form.time %}
            </div>
        </div>
        {% endflag %}
        <div class="row mb-3" style="display: none">
            <label for="multiple_attempts" class="col-sm-2 col-form-label">Number of Attempts</label>
            <div class="col-sm-1">
                {% bootstrap_field form.multiple_attempts %}
            </div>
        </div>
        <div class="row mb-3">
        <label for="options" id="show_answers" class="col-sm-2 col-form-label">Show Students Correct Answers for Each Question</label>
            <div class="col-sm-10">
                <div role="radiogroup" aria-labelledby="show_answers">
                    {% bootstrap_field form.show_answers show_label=False show_help=False %}
                    {% bootstrap_field form.show_answers_date show_label=False %}
                </div>
            </div>
        </div>
        <div class="row mb-3" style="display: none">
            <label for="options" class="col-sm-2 col-form-label">Additional Settings</label>
            <div class="col-sm-10">
                <div class="form-check form-switch">
                    {% bootstrap_field form.randomize show_help=False %}
                </div>
            </div>
        </div>

        <input type="hidden" name="course" value="{{course.pk}}" />
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <a class="btn btn-secondary" href="{% url 'course-detail-view' course.pk %}">Cancel</a>
    </form>

</div>
{% endblock %}
