{% extends 'base.html' %}

{% block title %}LTI Landing Page{% endblock %}

{% block usernav %}
{% endblock %}
{% block topnavbar %}
{% endblock %}
{% block css %}
<style>
    html,body {
        height: 100%;
    }

    body, .container
    {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #032b50;
        justify-content: center;
    }

    h1 {
        color: #0E78DB;
    }
</style>
{% endblock %}

{% block content %}
<body id="splash" class="text-center" id="maincontent">
    {% if not is_instructor and not is_administrator and not is_auth_ta %}
        <div id="signin">
            <h1 class="logo display-1" style="border: 0; font-weight: 700;">
                QuizCon
            </h1>
            <p class="lead text-light">
                The Quizzing with Confidence<br /> dashboard
                is available to instructors only.
            </p>
        </div>
    {% else %}
        <div id="signin">
            <h1 class="logo display-1" style="border: 0; font-weight: 700;">
                QuizCon
            </h1>
            <p class="lead text-light">
                Built for creating confident choices<br />
                for testing in CourseWorks.
            </p>
            <div style="margin: 2em 0 2em 0;">
                <a href="{{landing_url}}" class="btn btn-lg btn-light" target="_blank">Launch</a>
            </div>
        </div>
    {% endif %}
</body>
{% endblock %}

{% block footer %}
{% endblock %}
