{% extends 'base.html' %}

{% block title %}LTI Landing Page{% endblock %}

{% block usernav %}
{% endblock %}
{% block topnavbar %}
{% endblock %}
{% block css %}
    <style>

        body, .container
        {
            align-items: center;
            background-color: #F0F0F0;
            justify-content: center;
        }

        h1
        {
            color: #0E78DB;
            padding-top: 1em;
        }

    </style>
{% endblock %}

{% block content %}
<body id="splash" class="text-center" id="maincontent">
    {% if not is_instructor and not is_administrator and not is_auth_ta %}
        <div id="signin">
            <h1 style="border: 0; font-weight: 700;">
                Quizzing With Confidence
            </h1>
            <p class="lead text-dark">
                The Quizzing with Confidence<br /> dashboard
                is available to instructors only.
            </p>
        </div>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <strong><span class="text-light">Quizzing With Confidence</span></strong>
            </div>
        </nav>

        <header class="text-center">
            <h1 class="display-4" style="border: 0; font-weight: 900;">
                Quizzing With Confidence
            </h1>
            <p class="lead text-dark text-center">
                Utilize confidence weighted multiple choice questions to enhance learning through assessment and to more accurately represent student understanding.
            </p>
            <div id="signin">
                <div style="margin: 2em 0 2em 0;">
                    <a href="{{landing_url}}" class="btn btn-lg btn-primary" target="_blank">Launch</a>
                </div>
            </div>
        </header>
        <section class="pt-4">
            <div class="container px-lg-5">
        <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100 rounded-0 ">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature mb-4 mt-4">
                                    <img class="img-fluid" src="{{STATIC_URL}}img/triangleExample.png" alt="" />
                                </div>
                                <h2 class="fs-4 fw-bold">
                                    Accurate Representation of Knowledge
                                </h2>
                                <p class="mb-0">
                                    The triangle intervals allow students to be more specific in showing understanding.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100 rounded-0 ">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature mb-4 mt-4">
                                    <img class="img-fluid" src="{{STATIC_URL}}img/no-consequence-01.png" alt="" />
                                </div>
                                <h2 class="fs-4 fw-bold">
                                    Partial Credit
                                </h2>
                                <p class="mb-0">
                                    With the opportunity to earn partial credit, students enjoy lower anxiety levels.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100 rounded-0 ">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature mb-4 mt-4">
                                    <img class="img-fluid" src="{{STATIC_URL}}img/feedback.png" alt="" />
                                </div>
                                <h2 class="fs-4 fw-bold">
                                    Automatic Feedback
                                </h2>
                                <p class="mb-0">
                                    After taking the quiz students can be told their score and provided with feedback, depending on instructor settings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100 rounded-0 ">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature mb-4 mt-4">
                                    <img class="img-fluid" src="{{STATIC_URL}}img/research.png" alt="" />
                                </div>
                                <h2 class="fs-4 fw-bold">
                                    Vetted by Research
                                </h2>
                                <p class="mb-0">
                                    This pedagogical approach is more effective for learning than traditional multiple choice quizzes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100 rounded-0 ">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature mb-4 mt-4">
                                    <img class="img-fluid" src="{{STATIC_URL}}img/canvas.png" alt="" />
                                </div>
                                <h2 class="fs-4 fw-bold">
                                    Canvas Integration
                                </h2>
                                <p class="mb-0">
                                    Quickly integrate quizzes into Courseworks with grades going into the Gradebook.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100 rounded-0 ">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature mb-4 mt-4">
                                    <img class="img-fluid" src="{{STATIC_URL}}img/analytics.png" alt="" />
                                </div>
                                <h2 class="fs-4 fw-bold">
                                    Advanced Analytics
                                </h2>
                                <p class="mb-0">
                                    Easily see where there are misconceptions and use data to plan your next lesson.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
</body>
{% endblock %}

{% block footer %}
{% endblock %}
